html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.header{
    background-color: #465B75; /* esto hace que cambie el color del header*/
    padding-top: 2rem 
}
.contenedor{
    max-width: 100%;
    width: 150rem;
    height: auto;
    padding: 0 50px;
    margin: 0 auto;  
}

.menu{
    justify-content:space-between;
    display: flex;
}
.menu a:hover{
    color: #808080
}
.menu a{
    padding-right: 30px;
    color: white;
    text-decoration: none;

}
.titulo h1{
    margin-top:10rem;
    margin-bottom: 0;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
}
.menu img{
    width: 15rem;
    height: auto;

}
.main{
    background-color:#DEE9F7 ; 
    padding-top: 5rem;
}
.contenedor_main{
    max-width: 100%;
    width: 150rem;
    height: auto;
    padding: 0 50px;
    margin: 0 auto;
    display: flex;
}
.catalogo{
    border: 2px #6A6F75; 
    border-style: solid;
    background-color: #ffffff;
    max-width: 100%;
    width: 25rem;
    height: 35rem;
}
.catalogo legend{
    margin-top: 30px;
}
.catalogo select{
    margin-bottom: 20px;
    width: 12rem;
    background-color: #d3d3d3a1;
    color: black;
    border: none;
    border-radius: 5px;
    
}
.contenedor-catalogo input{
    width: 12rem;
}
.contenedor-catalogo{
    display: flex;
    flex-direction: column;
    margin-left: 5px ;
}
.catalogo legend{
    color: #888888;
    font-weight: bold;
    font-size:larger;
    
}
.productos{
    margin-left:20px ;
    border: 2px #6A6F75;
    border-style: solid;
    background-color: #ffffff;
    width: 120rem;
    margin-bottom: 10rem;
}
.contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.vender{
    width: 320px;
    
}
.vender a{
    color: #000000;
    text-decoration: none;
}
.vender span{
    font-weight: bold;
}
.precio{
    color:#ff6347;
    font-size: 30px;
    font-weight: bold;
}
footer{
    background-color: #333333;
    color: #ffffff;
}

.contenedor-footer{
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}
footer a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
.fin{
    width: 450px;

}
.contenedor-footer span{
    font-size:20px;
    font-weight: bold;
}
.contenedor-footer span::after{
    
    content: '';
    display: block;
    width: 23.3rem;
    height: .2rem;
    background-color: #ffffff;
}

